[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"

[dev-packages]
vermin = "*"
pylint = "*"
build = "*"
twine = "*"
pytest = "*"

[requires]
python_version = "3.11"
